---
http_interactions:
- request:
    method: post
    uri: https://www.bloc.io/api/v<PAGE_ID>/sessions
    body:
      encoding: UTF-8
      string: email=<EMAIL>&password=<PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"532a<PAGE_ID>a56df45<PAGE_ID>54873cf<PAGE_ID>2a99cdc73bd"'
    body:
      encoding: ASCII-8BIT
      string: '{"auth_token":"eyJ0eXAiOiJKV<PAGE_ID>QiLCJhbGciOiJIUzI<PAGE_ID>NiJ9.eyJhcGlfa2V5IjoiMmM2NWMyNDUzZDU2NDU0NGE4YzFmOGNkZWFkMGUwYWIiLCJ<PAGE_ID>c2VyX2lkIjo2MjM5NjcsIm5hbWUiOiJCcml0dGFueSBNYXJ0aW4ifQ.z6_j2Xl9iHXn3PapaG5oSxWP_ujQjBwGXFb2rWPX5n8","user":{"id":<MENTOR_ID>,"email":"brittany.jill.martin@gmail.com","created_at":"20<PAGE_ID>3-<PAGE_ID>0-25T<PAGE_ID>4:55:02.967-07:00","updated_at":"20<PAGE_ID>6-04-03T<PAGE_ID>6:02:29.303-07:00","facebook_id":"<PAGE_ID>4203<PAGE_ID>52","first_name":"Brittany","last_name":"Martin","role":"mentor","stripe_customer_id":"cus_2oxcRgjchBMuGM","twitter_handle":"BrittJMartin","skype_handle":"Brit2003<PAGE_ID>3","github_handle":"Brit2003<PAGE_ID>3","time_zone":"Eastern
        Time (US \u0026 Canada)","bio":"Brittany is the Product Marketing Manager
        at a startup in San Francisco. Her job is to partner with college engineering
        student leaders to make a software product that helps them succeed with hackathons,
        career fairs and student organizations.\r\n\r\nShe just completed her MBA
        at Robert Morris University. She recently moved to San Francisco from her
        hometown, Pittsburgh, PA. She aspires to run her own startup one day and knows
        San Francisco will be a great tech bootcamp. \r\n\r\nHer boyfriend is an independent
        filmmaker and she has a lovable chocolate lab named after a James Bond actor.\r\n\r\nShe
        wants to learn web development so she can compete at hackathons and have her
        own startup one day. \r\n\r\nBlog: sfviapgh.com","photo_file_name":"unnamed.jpg","photo_content_type":"image/jpeg","photo_file_size":375043,"photo_updated_at":"20<PAGE_ID>5-0<PAGE_ID>-24T<PAGE_ID>6:3<PAGE_ID>:<PAGE_ID>8.003-08:00","tos":"accepted","send_new_message_emails":true,"referred_by_id":null,"slug":"brittany-martin","os":"Mac
        OS X","last_seen_at":"20<PAGE_ID>6-04-03T<PAGE_ID>6:02:29.242-07:00","private_profile":true,"google_plus_id":"<PAGE_ID>080<PAGE_ID>0250028385663677","linkedin":null,"quota":5,"old_first_visit_id":null,"selected_enrollment_chain_id":2752,"phone_num":null,"title":null,"quota_limit":5,"dribbble_handle":null,"codecademy_handle":null,"student_profile_id":null,"birthdate":null,"gender":null,"first_visit_id":null,"codewars_handle":null}}'
  recorded_at: Sun, 03 Apr 2016 23:32:14 GMT
- request:
    method: get
    uri: https://www.bloc.io/api/v<PAGE_ID>/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - eyJ0eXAiOiJKV<PAGE_ID>QiLCJhbGciOiJIUzI<PAGE_ID>NiJ9.eyJhcGlfa2V5IjoiMmM2NWMyNDUzZDU2NDU0NGE4YzFmOGNkZWFkMGUwYWIiLCJ<PAGE_ID>c2VyX2lkIjo2MjM5NjcsIm5hbWUiOiJCcml0dGFueSBNYXJ0aW4ifQ.z6_j2Xl9iHXn3PapaG5oSxWP_ujQjBwGXFb2rWPX5n8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"39eed09a32d<PAGE_ID>b5<PAGE_ID>3dffce970b27<PAGE_ID>4006"'
    body:
      encoding: UTF-8
      string: '{"id":<MENTOR_ID>,"slug":"brittany-martin","name":"Brittany Martin","email":"brittany.jill.martin@gmail.com","title":null,"first_name":"Brittany","last_name":"Martin","facebook_id":"<PAGE_ID>4203<PAGE_ID>52","url":"/users/brittany-martin","bio":"Brittany
        is the Product Marketing Manager at a startup in San Francisco. Her job is
        to partner with college engineering student leaders to make a software product
        that helps them succeed with hackathons, career fairs and student organizations.\r\n\r\nShe
        just completed her MBA at Robert Morris University. She recently moved to
        San Francisco from her hometown, Pittsburgh, PA. She aspires to run her own
        startup one day and knows San Francisco will be a great tech bootcamp. \r\n\r\nHer
        boyfriend is an independent filmmaker and she has a lovable chocolate lab
        named after a James Bond actor.\r\n\r\nShe wants to learn web development
        so she can compete at hackathons and have her own startup one day. \r\n\r\nBlog:
        sfviapgh.com","course":{"id":<PAGE_ID>,"kind":"web_dev","length":<PAGE_ID>2,"name":"Rails
        Web Development","default_payment_plan_group":"June20<PAGE_ID>4Normal","mentor_payment_multiple":<PAGE_ID>.0,"appointments_per_week":3,"created_at":"20<PAGE_ID>4-0<PAGE_ID>-<PAGE_ID>5T<PAGE_ID>0:40:37.660-08:00","updated_at":"20<PAGE_ID>5-07-<PAGE_ID>4T<PAGE_ID>5:5<PAGE_ID>:<PAGE_ID>6.388-07:00","director_id":537<PAGE_ID>04,"mentor_weekly_pay_rate":20000,"description":"Learn
        how to build your own web applications with the popular Ruby on Rails framework.","occupation_name":"Web
        Developer","prework":"---\n- !ruby/hash:ActiveSupport::HashWithIndifferentAccess\n  title:
        Make a Website\n  url: https://www.codecademy.com/en/skills/make-a-website\n  time:
        3 hours\n  description: Learn the fundamentals of web development by building
        a recent version\n    of Airbnb''s home page.\n- !ruby/hash:ActiveSupport::HashWithIndifferentAccess\n  url:
        https://www.codecademy.com/en/tracks/web\n  time: 7 hours\n  description:
        Learn how to create websites by structuring and styling your pages\n    with
        HTML and CSS.\n  title: HTML \u0026 CSS\n- !ruby/hash:ActiveSupport::HashWithIndifferentAccess\n  url:
        http://www.codecademy.com/en/tracks/ruby\n  time: 9 hours\n  description:
        Complete Codecademy''s Ruby Track to learn the fundamentals of the Ruby\n    programming
        language.\n  title: Codecademy''s Ruby Track\n- !ruby/hash:ActiveSupport::HashWithIndifferentAccess\n  description:
        Learn the fundamentals of building web apps with Ruby on Rails.\n  url: https://www.codecademy.com/en/learn/learn-rails\n  time:
        5 hours\n  title: Codecademy''s Ruby on Rails Track\n- !ruby/hash:ActiveSupport::HashWithIndifferentAccess\n  description:
        Learn how to use the command line to manipulate data and automate tasks.\n  url:
        https://www.codecademy.com/en/learn/learn-the-command-line\n  time: <PAGE_ID>
        hour\n  title: Introduction to the Command Line\n- !ruby/hash:ActiveSupport::HashWithIndifferentAccess\n  description:
        A quick introduction to Git and GitHub.\n  url: https://try.github.io/\n  time:
        <PAGE_ID>5 minutes\n  title: Try GitHub\n","default_goal_options":[{"description":"To
        get a job as a professional web developer.","keyword":"job"},{"description":"To
        become a freelance web developer.","keyword":"freelance"},{"description":"To
        use my new skills as an entrepreneur.","keyword":"entrepreneur"},{"description":"To
        gain a better understanding of and appreciation for coding and the web.","keyword":"learning"},{"description":"To
        become better at my existing job.","keyword":"career_education"}],"level":"full","track":false,"roadmap_count":<PAGE_ID>},"current_enrollment":{"id":4<PAGE_ID>0,"created_at":"20<PAGE_ID>3-<PAGE_ID>0-25T<PAGE_ID>6:08:37.803-07:00","updated_at":"20<PAGE_ID>5-08-<PAGE_ID>0T<PAGE_ID>2:26:00.088-07:00","cohort_id":null,"status":"active","mentor_id":<PAGE_ID>95,"deleted":false,"onboarded":true,"dropped_out_at":null,"birth_date":"20<PAGE_ID>3-<PAGE_ID><PAGE_ID>-03T<PAGE_ID>6:00:00.000-08:00","roadmap_id":2,"course_end_date":"20<PAGE_ID>4-0<PAGE_ID>-26T<PAGE_ID>6:00:00.000-08:00","course_start_date":"20<PAGE_ID>3-<PAGE_ID><PAGE_ID>-03T<PAGE_ID>6:00:00.000-08:00","death_date":null,"sent_get_started_email":false,"course_id":<PAGE_ID>,"old_visit_id":null,"certified":false,"locked_message":"","latest":true,"chain_id":2752,"roadmap_ref":"878<PAGE_ID>bb68-d64d-458b-957a-b3b9ddb27e48|0","visit_id":null},"quota":5,"quota_limit":5,"type":"Mentor","status":"active","image_src":"https://cdn-photos.bloc.io/original/<MENTOR_ID>/unnamed.jpg?<PAGE_ID>422<PAGE_ID>45878","large_image_src":"https://cdn-photos.bloc.io/large/<MENTOR_ID>/unnamed.jpg?<PAGE_ID>422<PAGE_ID>45878","created_at":"20<PAGE_ID>3-<PAGE_ID>0-25
        <PAGE_ID>4:55:02 -0700","facebook_profile_picture_url":"http://graph.facebook.com/<PAGE_ID>4203<PAGE_ID>52/picture?width=<PAGE_ID><PAGE_ID>0\u0026height=<PAGE_ID><PAGE_ID>0","github_handle":"Brit2003<PAGE_ID>3","codecademy_handle":null,"time_zone":{"name":"Eastern
        Time (US \u0026 Canada)","string":"(GMT-05:00) Eastern Time (US \u0026 Canada)","identifier":"America/New_York"}}'
  recorded_at: Sun, 03 Apr 2016 23:32:14 GMT
recorded_with: VCR 3.0.1
